<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/assets/css/layui.css}">
    <link rel="stylesheet" th:href="@{/assets/css/admin.css}">
    <link rel="icon" href="/favicon.ico">
    <title>管理后台</title>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header custom-header">
            
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item slide-sidebar" lay-unselect>
                    <a href="javascript:;" class="icon-font"><i class="ai ai-menufold"></i></a>
                </li>
            </ul>

            <ul class="layui-nav layui-layout-right">
                <a th:href="@{/toLogin}" sec:authorize="!(hasAuthority('student') or hasAuthority('teacher') or hasAuthority('administrator'))">登录</a>
                <li class="layui-nav-item" sec:authorize="hasAuthority('student') or hasAuthority('teacher') or hasAuthority('administrator')">

                    <a href="javascript:;" sec:authentication="name"></a>

                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/logout}">退出</a></dd>
                    </dl>
                </li>
            </ul>
        </div>

        <div class="layui-side custom-admin">
            <div class="layui-side-scroll">

                <div class="custom-logo">
                    <img src="assets/images/logo.png" alt=""/>
                    <h1>菜单栏</h1>
                </div>
                <ul id="Nav" class="layui-nav layui-nav-tree">
<!--    公共信息 -->
                    <li class="layui-nav-item" sec:authorize="hasAuthority('student') or hasAuthority('teacher') or hasAuthority('administrator')">
                        <a href="javascript:;">
                            <i class="layui-icon">&#xe609;</i>
                            <em>主页</em>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a th:href="@{/shared/info}">个人信息</a></dd>
                        </dl>
                        <!--测试文件上传-->
                        <dl class="layui-nav-child">
                            <dd><a th:href="@{/shared/upload}">上传测试</a></dd>
                        </dl>

                    </li>
<!--学生-->
                    <li class="layui-nav-item" sec:authorize="hasAuthority('student')">
                        <a href="javascript:;">
                            <i class="layui-icon">&#xe857;</i>
                            <em>数据查看</em>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a th:href="@{/student/selfData}">打卡数据</a></dd>
                            <dd><a href="">请假记录</a></dd>
                            <dd><a href="">请假申请</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item" sec:authorize="hasAuthority('administrator')">
                        <a href="javascript:;">
                            <i class="layui-icon">&#xe612;</i>
                            <em>数据管理</em>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a th:href="@{/administrator/UserInfoList}">用户管理</a></dd>
                            <dd><a th:href="@{/administrator/allSignInData}">打卡数据</a></dd>
                        </dl>
                    </li>

                    <!--教师-->
                    <li class="layui-nav-item" sec:authorize="hasAuthority('teacher')">
                        <a href="javascript:;">
                            <i class="layui-icon">&#xe612;</i>
                            <em>数据查看</em>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a th:href="@{/teacher/studentInfo}">打卡数据</a></dd>
                        </dl>
                    </li>
                </ul>

            </div>
        </div>

        <div class="layui-body">
             <div class="layui-tab app-container" lay-allowClose="true" lay-filter="tabs">
                <ul id="appTabs" class="layui-tab-title custom-tab"></ul>
                <div id="appTabPage" class="layui-tab-content"></div>
            </div>
        </div>

        <div class="layui-footer">
            <p>©xxx版权所有</p>
        </div>

        <div class="mobile-mask"></div>
    </div>
    <script th:src="@{/assets/layui.js}"></script>
    <script th:src="@{/js/index.js}" data-main="home"></script>
</body>
</html>