<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<link rel="stylesheet" th:href="@{/css/common.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/StatisticalFigure.css}"/>
	</head>

	<body>
	<div th:replace="~{index::commonsection}"></div>
		<div class="container flgure">
			<div class="content">

				<!--文件上传-->
				<form action="/import" method="post" enctype="multipart/form-data">
					<input type="file" name="file"><br/>
					<input type="submit" value="上传">
				</form>




				<ul class="clearfix info">
					<li class="active">学生基本信息</li>
					<li>薪资信息</li>
					<li>就业信息</li>
					<li>工作省份</li>
				</ul>
				<div class="basic">
					<div class="basicInfo select active ">
						<div id="leave-statistical">
						</div>
						<div class="leave">
							<ul>
								<li>学生人数 : 123</li>

							</ul>
						</div>
						<div id="gender-statistical"></div>
						<div>
							<ul class="gender">
								<li>学生人数 : 123</li>

							</ul>
						</div>
						<div id="province-statistical"></div>
						<div>
							<ul class="province clearfix">
								<li>学生人数 : 123</li>
							</ul>
						</div>
	
					</div>
					<div class="payInfo select ">
						<div id="payInfo"></div>
						<div id="payInfo1"></div>
					</div>
					<div class="employmentInfo select">
						<div id="employment_industry"></div>
						<div id="unit_properties" ></div>
						<div id="postgraduate_employment" ></div>
					</div>
					<div class="provinceInfo select">
						<div id="map"></div>
						<span>北京&nbsp;就业人数<i>200</i>&nbsp;占总人数的<em>45%</em></span>
					</div>
				</div>
			</div>
		</div>
		<script th:src="@{/js/echarts.min.js}"></script>
		<script th:src="@{/js/china.js}" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" th:src="@{/js/StudentBasicInformation.js}"></script>
		<script th:src="@{/js/jquery-1.9.1.min.js}"></script>
		<script>

			$('.info li').click(function() {
				$(this).addClass("active").siblings().removeClass("active");
				$('.basic .select').eq($("ul li").index(this)).addClass("active").siblings().removeClass("active")
			});
		</script>

	</body>

</html>