<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/StudentInfo.css}"/>
	</head>
	<body>
		<div class="container flgure">
			<div class="content">
				<ul class="clearfix info">
					<li class="active">xx小组</li>

				</ul>
				<div class="basic">
					<div class="basicInfo select active">
						<div class="thead">
							<span>小组总人数：123</span>
							<p>统计表</p>
						</div>
						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<th></th>
								<th>男</th>
								<th>女</th>
								<th>考研</th>
								<th>就业</th>
								<th>未就业</th>
							</tr>
							<tr>
								<td>男女人数</td>
								<td>23</td>
								<td>23</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>就业情况</td>
								<td></td>
								<td></td>
								<td>23</td>
								<td>23</td>
								<td>23</td>
							</tr>
						</table>
					</div>

				</div>
			</div>
		</div>
		

	</body>
</html>
